<ion-tabs>
  <ion-tab-bar slot="booking">
    <ion-tab-button tab="booking">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Booking</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="management">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Management</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="service">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Service</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
