.btn_acount {
  width: 40px;
  height: 30px;
}
.new-background-color {
  --background: linear-gradient(135deg, orange 60%, cyan);
}
ion-title {
  color: rgb(11, 32, 218);
  font-weight: bold;
  text-align: center;
}
.modal_title {
  color: rgb(255, 255, 255);
}
.p_introl {
  display: inline-block;
  font-size: 30px;
}
.ion-toolbar {
  display: flex;
  justify-content: space-between;
}
.img_logout {
  width: 80px;
  height: 40px;
}
.text_username_header {
  font-weight: bold;
  color: rgb(11, 32, 218);
  font-size: 15px;
  margin: 0px auto;
}
.acount_select {
  display: inline-block;
}
//nofication
.nofication_modal {
  --min-width: 30vw;
}
.nofication_modal-content {
  display: flex;
  padding: 10px 10px 10px 10px;
  margin: 0px;
  height: 100px;
  border-bottom: 1px solid rgb(44, 5, 237);
}
.nofication-text {
  margin-left: 5px;
}
.nofication-title {
  margin: 0px;
  color: rgb(247, 31, 74);
  font-weight: bold;
}
//// bell icon
$palette-grey: #efefef;
$palette-green: mix($palette-grey, #f84545, 10%);
$palette-purple: mix($palette-grey, #f84545, 10%);
.nofication_icon {
  transform-origin: 50% 50%;
  animation: shake 1.5s infinite;
  cursor: pointer;
  border-radius: 78px;
  border: 5px solid transparent;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  &.read {
    animation: none;
    path {
      stroke: darken($palette-grey, 25%);
      fill: darken($palette-grey, 25%);
    }
  }
  path {
    stroke: $palette-purple;
    fill: $palette-purple;
    transition-property: stroke, fill;
    transition-duration: 0.25s;
  }
  &:hover {
    ~ .notification-caption::first-letter {
      background: $palette-green;
    }
    path {
      stroke: $palette-green;
      fill: $palette-green;
    }
  }
}
@keyframes shake {
  0%,
  25%,
  83%,
  100% {
    transform: rotatez(0deg);
  }
  32.5%,
  62.5% {
    transform: rotatez(-30deg);
  }
  47.5%,
  75.5% {
    transform: rotatez(30deg);
  }
}
p {
  margin: 0;
}
@media (max-width: 739px) {
  .nofication_modal-img {
    width: 60%;
  }
  .nofication_modal-content {
    display: flex;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    height: 80px;
    border-bottom: 1px solid rgb(44, 5, 237);
  }
  .nofication-title {
    font-size: 12px;
  }
  .nofication-description {
    font-size: 10px;
  }
  .acount_select_icon {
    font-size: small;
  }
  .text_username_header {
    font-size: 8px;
  }
  .p_introl {
    font-size: 20px;
  }
  .ion_title_header {
    margin: 0px;
  }
  .icon-header {
    width: 45px;
    height: 35px;
  }

  .item_list {
    display: block;
  }
  .p_item_list {
    font-size: 12px;
  }
  .h3_item_list {
    font-size: 10px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .p_introl {
    font-size: 25px;
  }
  ion-button {
    width: 100px;
    height: 50px;
  }
  .text_username_header {
    font-size: 10px;
  }
}
