.search {
  display: flex;
  align-items: center;
  background-color: #f0fff0;
}
ion-searchbar {
  width: 20%;
  display: inline-block;
}
.button_booking {
  padding: 0 0;
  margin-left: auto;
  order: 2;
  margin-right: 10px;
}
// header
ion-title {
  color: rgb(11, 32, 218);
  font-weight: bold;
  text-align: center;
}
.p_introl {
  display: inline-block;
  font-size: 30px;
}
.ion-toolbar {
  display: flex;
}
@media (max-width: 739px) {
  .p_introl {
    font-size: 20px;
  }
  .icon-header {
    width: 80px;
    height: 60px;
  }
  ion-searchbar {
    width: 40%;
  }
  ion-button {
    width: 80px;
    height: 35px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .p_introl {
    font-size: 25px;
  }
  ion-button {
    width: 100px;
    height: 50px;
  }
}
