<!-- <ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <div class="ion-toolbar">
      <img
        class="icon-header"
        src="../../../assets/image/headerImg/logo_hotel.png"
        alt="Logo Icon Hotel"
      />
      <ion-title>
        <div class="p_introl">Quản lý khách sạn</div>
      </ion-title>
      <div></div>
    </div>
  </ion-toolbar>
</ion-header> -->
<!-- hearder2 -->
<!-- <ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <div class="ion-toolbar">
      <img
        class="icon-header"
        src="../../../assets/image/headerImg/zyro-image.png"
        alt="Logo Icon Hotel"
      />
      <ion-title>
        <div class="p_introl">Quản lý khách sạn</div>
      </ion-title>
      <div>
        <div class="acount_select">
          <ion-item lines="none" button color="none" id="click-trigger_acount">
            <p class="text_username_header">UserName</p>
            <ion-icon
              name="caret-down-outline"
              class="acount_select_icon"
            ></ion-icon>
          </ion-item>
          <ion-popover trigger="click-trigger_acount" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding"
                >Acount Infomation <ion-icon name="person-outline"></ion-icon>
              </ion-content>
              <ion-content class="ion-padding"
                >Change password <ion-icon name="refresh-outline"></ion-icon
              ></ion-content>
              <ion-content class="ion-padding"
                >Logout <ion-icon name="log-out-outline"></ion-icon
              ></ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->
<!-- header -->
<!-- <ion-content>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content> -->

<ion-list>
  <ion-item>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mega Man X</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Legend of Zelda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pac-Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list>
<!-- footer -->
