<!-- <ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <div class="ion-toolbar">
      <img
        class="icon-header"
        src="../../../assets/image/headerImg/logo_hotel.png"
        alt="Logo Icon Hotel"
      />
      <ion-title>
        <div class="p_introl">Quản lý khách sạn</div>
      </ion-title>
      <div></div>
    </div>
  </ion-toolbar>
</ion-header> -->
<!-- hearder2 -->
<!-- <ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <div class="ion-toolbar">
      <img
        class="icon-header"
        src="../../../assets/image/headerImg/zyro-image.png"
        alt="Logo Icon Hotel"
      />
      <ion-title>
        <div class="p_introl">Quản lý khách sạn</div>
      </ion-title>
      <div>
        <div class="acount_select">
          <ion-item lines="none" button color="none" id="click-trigger_acount">
            <p class="text_username_header">UserName</p>
            <ion-icon
              name="caret-down-outline"
              class="acount_select_icon"
            ></ion-icon>
          </ion-item>
          <ion-popover trigger="click-trigger_acount" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding"
                >Acount Infomation <ion-icon name="person-outline"></ion-icon>
              </ion-content>
              <ion-content class="ion-padding"
                >Change password <ion-icon name="refresh-outline"></ion-icon
              ></ion-content>
              <ion-content class="ion-padding"
                >Logout <ion-icon name="log-out-outline"></ion-icon
              ></ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->
<!-- header -->
<!-- <ion-content>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content> -->
<ion-content class="ion-text-center">
  <div class="container">
    <ion-slides
      #mySlider
      [options]="option"
      class="ion-margin-top"
      autoplay="5000"
      loop="true"
      speed="3000"
      (ionSlidesDidLoad)="load()"
    >
      <ion-slide>
        <ion-card class="img_slide">
          <img src="../../../assets/image/img_silde/images (1).jfif" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="img_slide">
          <img src="../../../assets/image/img_silde/images (2).jfif" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="img_slide">
          <img src="../../../assets/image/img_silde/images (3).jfif" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="img_slide">
          <img src="../../../assets/image/img_silde/images (4).jfif" />
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="img_slide">
          <img src="../../../assets/image/img_silde/tải xuống.jfif" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="img_slide">
          <img src="../../../assets/image/img_silde/tải xuống.jfif" />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="img_slide">
          <img src="../../../assets/image/img_silde/tải xuống.jfif" />
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div class="btn_group_category" (click)="onButtonGroupClick($event)">
      <ion-button button class="btn_group_cate none"
        ><span class="btn_group_text">Category 1</span></ion-button
      >
      <ion-button button class="btn_group_cate none"
        ><span class="btn_group_text">Category 2</span>
      </ion-button>
      <ion-button button class="btn_group_cate none"
        ><span class="btn_group_text">Category 3</span></ion-button
      >
    </div>
    <ion-grid class="gird_service">
      <ion-row>
        <ion-col size="6" size-xs="4" size-sm="4" size-md="4" size-lg="3">
          <ion-card class="card_grid">
            <ion-card-header class="card_header">
              <img src="../../../assets/image/img_service/263vtsuaie.jpg" />
            </ion-card-header>
            <ion-card-content class="card_content">Service 1</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-xs="4" size-sm="4" size-md="4" size-lg="3">
          <ion-card class="card_grid">
            <ion-card-header class="card_header">
              <img src="../../../assets/image/img_service/263vtsuaie.jpg" />
            </ion-card-header>
            <ion-card-content class="card_content">Service 1</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-xs="4" size-sm="4" size-md="4" size-lg="3">
          <ion-card class="card_grid">
            <ion-card-header class="card_header">
              <img src="../../../assets/image/img_service/263vtsuaie.jpg" />
            </ion-card-header>
            <ion-card-content class="card_content">Service 1</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-xs="4" size-sm="4" size-md="4" size-lg="3">
          <ion-card class="card_grid">
            <div class="card_header">
              <img src="../../../assets/image/img_service/263vtsuaie.jpg" />
            </div>
            <div class="card_content">Service 1</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- footer -->
