#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
///header
.btn_acount {
  width: 40px;
  height: 30px;
}
.new-background-color {
  --background: linear-gradient(135deg, orange 60%, cyan);
}
ion-title {
  color: rgb(11, 32, 218);
  font-weight: bold;
  text-align: center;
}
.modal_title {
  color: rgb(255, 255, 255);
}
.p_introl {
  display: inline-block;
  font-size: 30px;
}
.ion-toolbar {
  display: flex;
  justify-content: space-between;
}
.img_logout {
  width: 80px;
  height: 40px;
}
.text_username_header {
  font-weight: bold;
  color: rgb(11, 32, 218);
  font-size: 15px;
  margin: 0px auto;
}
.acount_select {
  display: inline-block;
}
////slide
///
ion-card {
  width: 80%;
  height: 200px;
  box-shadow: none;
  border-radius: 12px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);

  ion-card {
    img {
      transform: scale(1, 1);
    }
  }
}
.swiper-slide {
  transition: 400ms all ease-in-out;
}
@media (max-width: 739px) {
  //slide
  ion-card {
    height: 100px;
  }
  //
  .acount_select_icon {
    font-size: small;
  }
  .text_username_header {
    font-size: 8px;
  }
  .p_introl {
    font-size: 20px;
  }
  .icon-header {
    width: 80px;
    height: 55px;
  }
  ion-searchbar {
    width: 40%;
  }
  ion-button {
    width: 80px;
    height: 35px;
  }
  .item_list {
    display: block;
  }
  .p_item_list {
    font-size: 12px;
  }
  .h3_item_list {
    font-size: 10px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .p_introl {
    font-size: 25px;
  }
  ion-button {
    width: 100px;
    height: 50px;
  }
  .text_username_header {
    font-size: 10px;
  }
}
