<ion-content class="ion-text-center">
  <div class="container">
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide
        >>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
      <ion-slide>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
