<div class="container">
  <!-- <div class="search">
    <ion-searchbar></ion-searchbar>
    <ion-button>Management</ion-button>
  </div> -->
  <ion-slides [options]="option">
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="../../../assets/image/img_silde/images (1).jfif" />
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
